<%- include("partials/header") -%>
<section class="section about">
<div class="section-center about-center">
    <div class="about-title">
    <img src="https://github.com/Davido4646/Advanced-Personal-Website/blob/master/images/hero-img.jpg?raw=true" class="hero-photo"/>
</div>
<div class="about-info">
    <h1>About</h1>
    <p><%=acontent%></p>
</div> 
</div>
</section>


<%- include("partials/footer") -%>
